<!DOCTYPE html>
<html>
<head>
  <title>Made With Dough</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <%= stylesheet_link_tag 'dough/assets/stylesheets/basic' %>
  <%= stylesheet_link_tag 'dough/assets/stylesheets/font_files' %>

  <!--[if ( gte IE 7 ) & ( lte IE 8 ) & (!IEMobile) ]>
    <%= stylesheet_link_tag 'dough/assets/stylesheets/font_files' %>
    <%= stylesheet_link_tag 'enhanced_fixed', media: 'all' %>
    <script>var responsiveStyle = false;</script>
  <![endif]-->

  <%# Responsive styles for all modern devices, excluded from older IE version %>
  <!--[if ( !IE ) | ( gte IE 9 ) ]><!-->
  <%= stylesheet_link_tag 'enhanced_responsive', media: 'only all' %>
  <script>var responsiveStyle = true;</script>
  <!--<![endif]-->

  <script>
    <%= raw Rails.application.assets['modernizr/modernizr'] %>
  </script>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<a href="https://github.com/moneyadviceservice/dough"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>

<%= javascript_include_tag 'requirejs/require', data: { main: javascript_path('application') } %>
<%= javascript_include_tag 'prism' %>
</body>
</html>
